<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <title>Регистрация</title>
</head>
<body class="bpreloader">
    <div class="container-fluid">
        <div class="form row">
            <form id="registration_form" class="elem col-10 col-sm-8 col-md-6 col-xl-5">
                {% csrf_token %}
                <h1 class="zag m-0">Регистрация</h1>
                <h3 id="error_message" class="error_message es_message"></h3>
                <div class="inputs_bl email">
                    <div class="inp_bl">
                        <input type="text" class="auth_inp" id="login" name="login" autocomplete="off" required>
                        <span class="bord_inp"></span>
                        <label class="place_podinp">Логин</label>
                    </div>
                    <div class="error_podinp"></div>
                </div>
                
                <div class="inputs_bl password">
                    <div class="inp_bl">
                        <input type="password" class="auth_inp" id="password" name="password" autocomplete="off" required>
                        <span class="bord_inp"></span>
                        <label class="place_podinp">Пароль</label>
                    </div>
                    <div class="error_podinp"></div>
                </div>
                <button type="submit" id="auth" class="h3 p-4">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <script>
      const urls = location.pathname;
      var blocked_button = false,
      errs = false;
      
      function request(url, requestParams, callback){
        let response = {},
        xhr = new XMLHttpRequest();
        
        xhr.open("POST", url, true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        blocked_button = true;
        document.body.style.cursor = "wait";
        xhr.onreadystatechange = function(){
          if(xhr.readyState !== 4){
            return;
          }
          if(xhr.status === 200){
            response = {
              result: xhr.responseText,
              description: ""
            };
          }
          else{
            response = {
              result: "fail",
              description: "Ошибка " + xhr.status
            };
            $('#error_message').text('Неожиданная ошибка');
          }
          callback(JSON.stringify(response));
          document.body.style.cursor = "default";
        };
        xhr.send(requestParams);
      };
      
      $(document).ready(function() {
        $('#preloader').fadeOut(200);
        setTimeout(() => $('body').removeClass('bpreloader'), 300);
      });
      
      var vw = window.innerWidth,
      vh = window.innerHeight;
      
      function inInp(element){
        errs = false;
        let el = $(element.target).parent().parent();
        $(el).removeClass('error');
        $(el).find('.error_podinp').text('');
      }
      
      function err(el, val){
        errs = true;
        let interval = 100;
        if(el != 'form'){
          $(el).addClass('error');
          $(el).find('.error_podinp').text(val);
        }
        else{
          $(el).find('#error_message').text(val);
        }
        $(el).animate({left: '-20px'}, interval);
        setTimeout(() => $(el).animate({left: '15px'}, interval), interval);
        setTimeout(() => $(el).animate({left: '-10px'}, interval), interval * 2);
        setTimeout(() => $(el).animate({left: '5px'}, interval), interval * 3);
        setTimeout(() => $(el).animate({left: '0px'}, interval), interval * 4);
        setTimeout(() => blocked_button = false, interval * 5);
      }
      
      function clearForm(){
        $('.inputs_bl').removeClass('error');
        $('.error_podinp, .error_messsage, .success_message').text('');
      }
      function clearInps(){
        $('form input').val('');
      }
      
      $('input').on('input', (e) => inInp(e));
      $('input').on('change', (e) => inInp(e));
      
      const nameInput = {
        'role': 'Роль',
        'login': 'Логин',
        'email': 'Почту',
        'password': 'Пароль',
        'title': 'наименование организации',
        'typeProperty': 'вид собственности',
        'address': 'адрес главного офиса',
        'name': 'ФИО',
        'phone': 'Номер телефона'
      }
      
      $('input').on('input', (e) => inInp(e));
      $('input').on('change', (e) => inInp(e));
      
      $(document).ready(function() {
        const inps = document.querySelectorAll('.inputs_bl input');
        
        $('#password').keydown(function(event) {
          if (event.keyCode == 13) $('#auth_but, #reg_but').click();
        });
        
        // Логика авторизации
        $('form#auth_form').on('submit', function(e){
          e.preventDefault();
          if(blocked_button) return;
          clearForm();
          
          blocked_button = true;
          inps.forEach(item => {
            if(item.value.trim() == '') err('.' + item.id, 'Введите ' + nameInput[item.id]);
          });
          
          if(blocked_button && !errs){
            let params = $(this).serialize();
            request("/loginB/", params, function(result){
              try{
                console.log(result)
                let response = JSON.parse(result);
                if(response.status == 'Error'){
                  err('form', response.message); // Отображаем ошибку
                  return;
                }
                // Успешный вход
                if(response.status == 'success'){
                  window.location.href = '/'; // Перенаправляем на главную страницу
                  clearForm();
                  blocked_button = false;
                  return;
                }
                
                err('form', response.message);
                blocked_button = false;
              }
              catch(e){
                err('form', 'Неожиданная ошибка');
              }
            });
          }
          blocked_button = false;
        });
        
        // Логика регистрации
        $('form#registration_form').on('submit', function(e){
          e.preventDefault();
          if(blocked_button) return;
          clearForm();
          
          blocked_button = true;
          inps.forEach(item => {
            if(item.value.trim() == '') err('.' + item.id, 'Введите ' + nameInput[item.id]);
          });
          
          if(blocked_button && !errs){
            let params = $.param({'login': $('#email').val()}) + '&' + $(this).serialize();
            request("/registrationB/", params, function(result){
              try{
                let response = JSON.parse(JSON.parse(result).result);
                if(response.status == 'error'){
                  err('form', response.message); // Отображаем ошибку
                  return;
                }
                // Успешная регистрация
                if(response.status == 'success'){
                  window.location.href = '/login/'; // Перенаправляем на страницу входа
                  clearForm();
                  blocked_button = false;
                  return;
                }
                
                err('form', 'Неизвестная ошибка');
                blocked_button = false;
              }
              catch(e){
                err('form', 'Неожиданная ошибка');
              }
            });
          }
          blocked_button = false;
        });
      });
    </script>
</body>
</html>